.header {
  background-color: #303a3b;
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 50px;
}
.panel {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #303a3b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #303a3b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
.display{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display-time{
  font-size: 100px;
}
.display-date{
  font-size: 50px;
}
.panel-switch-text{
font-size: 20px;
margin-left:  15px;
}
.calender{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}